{{ define "main" }}

<main>
	<div class="post">
		{{ partial "note/post-info.html" . }}
		{{ partial "single/title.html" . }}

        {{ $build := newScratch }}
        {{ $build.Set "content" .RawContent }}
        {{ range .Site.RegularPages }}
            {{ $wikilink :=  print "\\[\\[" .File.BaseFileName "\\]\\]" }}
            {{ if findRE $wikilink $.RawContent }}
                {{ $markdown_link := printf "[%s](%s)" .File.BaseFileName .Permalink }}
                {{ $build.Set "content" (replaceRE $wikilink $markdown_link ($build.Get "content")) }} 
            {{ end }}
        {{ end }}
        {{ $build.Get "content" | .RenderString | safeHTML }}
		{{ partial "note/backlinks.html" . }}
	</div>
</main>

{{ end }}
